.flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.map-selector-button {
  margin: 10px;
}

.map-selector-page, .combat-panel {
  height: 600px;
}

.map-cell {
    border: solid 1px black;
    text-align: center;
}

td {
  background-color: #efebe9;
  height: 64px;
  border: 1px solid black;
  background-position: center;
  background-size: 3.5em;
  background-repeat: no-repeat;
  min-width: 32px;
}

.cellX {
  background-image: url("/images/stone_brick1.png");
}

.cellP1 {
  background-image: url("/images/frost_giant.png");
}

.cellP2 {
  background-image: url("/images/deep_elf_knight.png");
}

.cellA {
  background-image: url("/images/battle_axe1.png");
}

.cellS {
  background-image: url("/images/short_sword2.png");
}

.cellD {
  background-image: url("/images/dagger.png");
}

.cellB {
  background-image: url("/images/longbow.png");
}

.cellM {
  background-image: url("/images/gem_bone.png");
}

.cellST {
  background-image: url("/images/staff05.png");
}

.cellH {
  background-image: url("/images/halberd1.png");
}

.cellDS {
  background-image: url("/images/scimitar1.png");
}

.stats {
  font-size: 2rem;
}

.player-title {
  font-size: 2.5rem;
}

.portfolio {
  font-size: 2rem;
}

.footer-text {
  font-size: 1.2rem;
}

.top-divider {
  height: 40px;
}

.side-panel {
  margin-top: 0px;
  padding-top: 0px;
}

.winner-text {
  font-size: 4rem;
}

.combat-divider {
  height:200px;
}